<h1>Lista con suscribe</h1>
<table>
    <thead>
        <th>id</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Horas</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of lista">
            <td>{{item.id}}</td>
            <td>{{item.dni}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.hrs}}</td>
            <td><button [routerLink]="['/modificar',item.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Modificar</button></td>
        </tr>
    </tbody>
</table>
<button routerLink="alta" routerLinkActive="active" ariaCurrentWhenActive="page">Añadir</button>
<router-outlet></router-outlet>
